body {
  margin: 0;
  text-align: center;
  font-family: 'Be Vietnam', sans-serif;
  color: #685454;
}

h1 {
  margin-top: 0;
  font-family: 'Give You Glory', cursive;
  color: #420000;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Suez One', serif;
  color: #420000;
  font-size: 2em;
  font-weight:normal;
  margin: 75px auto 35px auto;
}

h3 {
  font-family: 'Suez One', serif;
  color: #1f0000;
  font-size:1.5rem;
}

hr {
  border-style: dotted none none;
  border-top-color: #ea8a8a;
  border-width: 6px;
  width: 3%;
}

p
{
  font-size: 1.25rem;
  line-height: 2;
  width: 50%;
  margin:auto;
}

.bio
{
  margin-bottom: 75px;
}

.me {
  border-radius: 50%;
  margin-top: 100px;
}

.design {
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.develop {
  border-radius: 15px;
  float: left;
  margin-right: 30px;
}

.footer-link
{
  display:inline-block;
  color: #1f0000;
  margin: 20px 20px 5px 20px;
  text-decoration: none;
}

.footer-link:hover
{
  color: white;
}

.top-container {
  background-color: #ebd5d5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: white;
}

.blurb
{
  margin-bottom:75px;
}

.bottom-container {
  background-color: #ea8a8a;
  height:125px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.skill-row
{
  margin: 50px auto 100px auto;
  width: 50%;
  text-align: left;
}

.copyright
{
  font-size: 0.75rem;
  padding: 20px 0;
}
